*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   
}
body{
     background-color: rgb(173, 122, 122);
}
.container{
    width: 100%;
    background-color: white;
    display: flex;
    justify-content:center;
    align-items: center;
     flex-wrap: wrap;
}

.item{
    flex-basis: 100px;
    flex-grow: 1;
    height: 100px;
    background-color:blue ;
    margin: 20px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    
   
}
/* .item:nth-of-type(1){
    border-radius: 10px;
    background-color: red;
    width: 200px;
    height:200px ;
    flex-basis: 3;
    flex-basis: 3;
    
} */