*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(167, 216, 216);
}
/* header style */
.header{
    background-color: rgb(61, 106, 204);
    /* height: 60px; */
    display: flex;
    justify-content:space-around;
    align-items: center;
    font-family:Arial, Helvetica, sans-serif;
    padding: 20px;
    
}
.header .logo{
color: white;

    
}

.header .manu a{
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
  color: white;
  font-size: 20px;
  padding: 5px 5px;
  margin-right: 10px;
  
  
}
.header .manu a:hover{
    color: black;
    background-color: blue;
}
/* hero side  */
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    flex-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif;
}
.hero .firsthero{
    justify-items: center;
    align-items: center;
    color: white;
    text-align: center;
    margin-left: 10px;
}
.hero .firsthero h1{
    font-size: 40px;
    margin-top: 20px;
}
.hero .firsthero p{
    font-size: 19px;
    margin-top: 20px;
}
.hero .secondhero img{
    height: 400px;
}
/* boxs style */
.boxs{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    flex-wrap: wrap;
    
}
.box{
    font-family: Arial, Helvetica, sans-serif;
    flex-basis: 400px;
    flex-grow: 1;
    background: blue;
    margin: 20px;
    border-radius: 20px;
    align-items: center;
    justify-items: center;
    padding: 20px;
    color: white;
    text-align: center;
    border: 2px solid white;
    box-shadow: 2px 2px 10px black;
}
.box p{
    font-size: 20px;
}

